---
import Layout from "../layouts/Page.astro";
import Container from "../components/Container.astro";
import BlogPostsList from "../components/BlogPostsList.astro";

const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.publishedAt).valueOf() -
    new Date(a.frontmatter.publishedAt).valueOf()
);

const seo = {
  title: "How to - MY key Tenets of making money online",
  description:
    "My key Tenets of making money online by programming, coding, freelancing, digital markting, use chatgpt to make website, use chatgpt to make ads,use chatgpt to impress your girlfriend or wife, how to use lexica.art to generate images, dall-e-2, midjourney etc. To maximize your potential to make money online. I myself has made over $10,000 in 6 months. So if I can do it then you can too.",
};
---

<style>
  .home-hero-text__container {
    padding: 5vh 0;
  }
  h1 {
    text-align: center;
  }
</style>

<Layout seo={seo}>
  <Container>
    <div class="home-hero-text__container">
      <h1 class="fade-in">My Tenets</h1>
    </div>
    <BlogPostsList posts={posts} />
  </Container>
</Layout>
